@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "variables";
@import "mixins";

body {
  padding-top: 90px;
}

table {
  thead {
    tr {
      td {
        font-weight: bold;

        a {
          color: #333333;
          cursor: pointer;
        }
      }
    }
  }
}

.box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  text-align: right;
  display: block;
  margin-top: 60px;
}
.box-icon {
  background-color: #22B24C;
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  margin-top: -61px;

  img {
    width: 100px;
    height: 100px;
  }
}
.box-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.info h4 {
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.info > p {
  color: #717171;
  font-size: 12px;
}

.waiting {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#loading-bar .bar {
  background-color: #22B24C;
}

.form-header {
  @extend .page-header;
  margin-top: 10px;
}

.page-header-small {
  @extend .page-header;
  margin-top: 0px;
}

.static-form {
  .form-group {
    margin-bottom: 0px;
  }
}

.nav-auth {
  margin-left: 20px;
}

.filter {
  .panel-body {
    padding: 10px 30px 10px 30px;
  }
}

.pagination {
  width: auto;
}

.table-footer {
  text-align: center;
}

.game-board {
  @include border-radius(10px);
  position: relative;
  height: 800px;
  overflow: scroll;
  background-image: url('/assets/img/bg2.jpg');
}

.tile {
  @include box-shadow(-10px, 10px, 30px);
  background-repeat: no-repeat;
  position: absolute;
  width: $icon-width;
  height: $icon-height;
  cursor: pointer;
}

.tile-wrapper.tile-style-1 {
  .tile {
    background-image: $icon-set1;
  }
}

.tile-wrapper.tile-style-2 {
  .tile {
    background-image: $icon-set2;
  }
}

.Circle {
  @include bg-pos($icon-correction, $icon-height*2);
}

@include horizontal-icon-step('Circle', $icon-correction, $icon-width, 9);

.Character {
  @include bg-pos($icon-correction, $icon-correction);
}

@include horizontal-icon-step('Character', $icon-correction, $icon-width, 9);

.Bamboo {
  @include bg-pos($icon-correction, $icon-height);
}

@include horizontal-icon-step('Bamboo', $icon-correction, $icon-width, 9);

.Dragon-Red {
  @include bg-pos($icon-width*13, $icon-height);
}

.Dragon-Green {
  @include bg-pos($icon-width*13, $icon-correction);
}

.Dragon-White {
  @include bg-pos($icon-width*13, $icon-height*2);
}

.Flower-Chrysantememum {
  @include bg-pos($icon-width*12, $icon-height*2);
}

.Flower-Plum {
  @include bg-pos($icon-width*10, $icon-height*2);
}

.Flower-Orchid {
  @include bg-pos($icon-width*11, $icon-height*2);
}

.Flower-Bamboo {
  @include bg-pos($icon-width*9, $icon-height*2);
}

.Wind-East {
  @include bg-pos($icon-width*9, $icon-correction);
}

.Wind-South {
  @include bg-pos($icon-width*10, $icon-correction);
}

.Wind-North {
  @include bg-pos($icon-width*11, $icon-correction);
}

.Wind-West {
  @include bg-pos($icon-width*12, $icon-correction);
}

.Season-Spring {
  @include bg-pos($icon-width*9, $icon-height);
}

.Season-Summer {
  @include bg-pos($icon-width*10, $icon-height);
}

.Season-Winter {
  @include bg-pos($icon-width*12, $icon-height);
}

.Season-Autumn {
  @include bg-pos($icon-width*11, $icon-height);
}
