<div class="row">
    <div class="col-md-10">
        <div ui-view></div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading"><h5>Menu</h5></div>
            <div class="panel-body">
                <a ui-sref="mahjong.view.board" type="button" class="btn btn-lg btn-block btn-default"><span class="glyphicon glyphicon-th pull-left"></span> Board</a>
                <a ui-sref="mahjong.view.players" type="button" class="btn btn-lg btn-block btn-default"><span class="glyphicon glyphicon-user pull-left"></span> Lobby </a>
                <a ui-sref="mahjong.view.players" type="button" class="btn btn-lg btn-block btn-default"><span class="glyphicon glyphicon-eye-open pull-left"></span> Matches</a>
                <a ui-sref="mahjong.view.players" type="button" class="btn btn-lg btn-block btn-default"><span class="glyphicon glyphicon-question-sign pull-left"></span> Help</a>
                <hr />
                <button class="btn btn-lg btn-block btn-default" ng-click="vm.joinGame()" ng-disabled="!vm.canJoinGame()">Join this game!</button>
                <button class="btn btn-lg btn-block btn-default">Change tiles</button>
                <button class="btn btn-lg btn-block btn-success" ng-click="vm.startGame()" ng-hide="vm.game.createdBy._id != $root.auth.getUsername() || vm.game.state != 'open'">Start game</button>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>