<div class="row">
    <div class="col-md-9">
        <div class="game-board">
            <tile ng-repeat="tile in tiles" x="tile.x" y="tile.y" z="tile.z" tile="tile" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="filter panel panel-default">
            <div class="panel-heading">
                <h5>Info</h5>
            </div>
            <div class="panel-body">
                <form class="form-horizontal static-form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Owner</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{ game.createdBy.name }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Template</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{ game.gameTemplate.id }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">State</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{ game.state }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Started on</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{ game.startedOn }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Max players</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{ game.maxPlayers }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Min players</label>
                        <div class="col-sm-8">
                            <p class="form-control-static">{{ game.minPlayers }}</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer"></div>
        </div>
        <div class="filter panel panel-default">
            <div class="panel-heading">
                <h5>Players</h5>
            </div>
            <div class="panel-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Matches</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in players">
                            <td>{{ player.name }}</td>
                            <td>{{ player.numberOfMatches }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>