<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-repeat="game in vm.games">
                <div class="box">
                    <div class="box-icon">
                        <img ng-src="/assets/img/{{game.gameTemplate.id}}.png" alt="Board preview" class="img-circle">
                    </div>
                    <div class="info text-center">
                        <h4>{{ game.gameTemplate.id}}</h4>
                        <p><i>Created by {{ game.createdBy.name }} on {{ game.createdOn | date:'medium'}} | Status : {{ game.state }}</i></p>
                        <div class="btn-group" role="group">
                            <a type="button" ng-click="joinGame(game._id)" ng-disabled="!vm.canJoinGame(game)" class="btn btn-sm btn-primary">Join</a>
                            <a ui-sref="mahjong.view.board({gameId : game._id})" type="button" class="btn btn-sm btn-default">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <nav class="table-footer">
            <pagination total-items="vm.bigTotalItems" ng-change="vm.pageChanged()" ng-model="vm.currentPage" max-size="vm.maxSize" class="pagination-sm" boundary-links="true"></pagination>
        </nav>
    </div>
    <div class="col-md-3">
        <div class="filter panel panel-default">
            <div class="panel-heading">
                <h5><span class="glyphicon glyphicon-search"></span> Search</h5>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label>Created by</label>
                        <input type="text" ng-model="vm.gamesFilter.createdBy" placeholder="Avans e-mail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Template</label>
                        <select class="form-control" ng-model="vm.gamesFilter.gameTemplate">
                            <option value="">All</option>
                            <option value="{{template._id}}" ng-repeat="template in vm.templates">{{template._id}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <select class="form-control" ng-model="vm.gamesFilter.state">
                            <option value="">Any</option>
                            <option value="playing">Playing</option>
                            <option value="finished">Finished</option>
                            <option value="open">Open</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-primary" ng-click="vm.loadGames()">Search</button>
                    </div>
                </form>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>
