<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-repeat="game in games | orderBy:sortType:sortReverse | filter:gamesFilter">
                <div class="box">
                    <div class="box-icon">
                        <img ng-src="/assets/img/{{game.gameTemplate.id}}.png" alt="Board preview" class="img-circle">
                    </div>
                    <div class="info text-center">
                        <h4>{{ game.gameTemplate.id}}</h4>
                        <p><i>Created by {{ game.createdBy.name }} on {{ game.createdOn | date:'medium'}} | Status : {{ game.state }}</i></p>
                        <div class="btn-group" role="group">
                            <a type="button" ng-click="joinGame(game._id)" ng-disabled="!canJoinGame(game)" class="btn btn-sm btn-primary">Join</a>
                            <a ui-sref="mahjong.view.board({gameId : game._id})" type="button" class="btn btn-sm btn-default">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <nav class="table-footer">
            <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        </nav>
    </div>
    <div class="col-md-3">
        <div class="filter panel panel-default">
            <div class="panel-heading">
                <h5>Filter</h5>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" ng-model="gamesFilter.createdBy.name" placeholder="Username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Template</label>
                        <select class="form-control" ng-model="gamesFilter.gameTemplate.id">
                            <option value="">All</option>
                            <option value="{{template._id}}" ng-repeat="template in templates">{{template._id}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="gamesFilter.state" value="open" />
                                Playing
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="gamesFilter.state" value="playing" />
                                Finished
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="gamesFilter.state" value="finished" />
                                Open
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <pre>
                {{gamesFilter}}
                </pre>
            </div>
        </div>
    </div>
</div>
