<div class="row">
    <div class="col-md-12">
        <h2 class="page-header-small">{{ game.gameTemplate.id}} <small>Created by {{ game.createdBy.name }}.</small>
            <div class="btn-group btn-group-sm pull-right" role="group">
                <button class="btn btn-sm btn-default" ng-click="testSocket()">Test socket</button>
                <button class="btn btn-sm btn-primary">Join game</button>
                <button class="btn btn-sm btn-success" ng-click="startGame()" ng-hide="game.createdBy._id != $root.auth.username || game.state != 'open'">Start game</button>
            </div>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="game-board" ng-if="tiles != null">
            <tile ng-repeat="tile in tiles" x="tile.x" y="tile.y" z="tile.z" tile="tile" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="filter panel panel-default">
            <div class="panel-heading">
                <h5>Players overview</h5>
            </div>
            <div class="panel-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Matches</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in players">
                            <td>{{ player.name }}</td>
                            <td>{{ player.numberOfMatches }}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="help-block">This game requires a minimum of {{ game.minPlayers }} players to start and a maximum of {{ game.maxPlayers }}</p>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>